<h1>Listing reservations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Rooms</th>
      <th>User</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Notes</th>
      <th>Event title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.room.name if reservation.room %></td>
        <td><%= reservation.user.name if reservation.user_id%></td>
        <td><%= reservation.starts_at %></td>
        <td><%= reservation.ends_at %></td>
        <td><%= reservation.notes %></td>
        <td><%= reservation.event_title %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
