<p id="notice"><%= notice %></p>

<p>
  <strong>Start at:</strong>
  <%= @reservation.start_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @reservation.ends_at %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @reservation.notes %>
</p>

<p>
  <strong>Event title:</strong>
  <%= @reservation.event_title %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
