<div class="container-fluid">
  <%= form_for(@room, :html => {:multipart => true}) do |f| %>
      <% if @room.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@room.errors.count, 'error') %> prohibited this room from being saved:</h2>

            <ul>
              <% @room.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="field">
        <%= f.label :roomphoto %><br>
        <%= image_tag(@room.roomphoto.url(:thumb)) if @room.roomphoto? %>
        <%= f.file_field :roomphoto %>
        <%= f.hidden_field :roomphoto_cache %>
        <p>
          <%= f.label :remote_roomphoto_url,  'or image URL' %><br>
          <%= f.text_field :remote_roomphoto_url %>
        </p>
      </div>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :location %><br>
        <%= f.text_field :location %>
      </div>
      <div class="field">
        <%= f.label :campus %><br>
        <%= f.select :campus_id, Campus.all.collect{ |i| [i.name, i.id]}%>
      </div>
      <div class="field">
        <%= f.label :squarefootage %><br>
        <%= f.number_field :squarefootage %>
      </div>
      <div class="field">
        <%= f.label :lastused %><br>
        <%= f.date_select :lastused %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description %>
      </div>
      <div class="field">
        <%= f.label :feature %>
        <%= hidden_field_tag "room[feature_ids][]", nil %>
        <% Feature.all.each do |feature| %><br>
            <%= label_tag dom_id(feature)  do %>
                <%= check_box_tag "room[feature_ids][]", feature.id, @room.feature_ids.include?(feature.id), id: dom_id(feature)  %>
                <%= feature.name %>
            <% end %>
        <% end %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</div>