<h1>Listing rooms</h1>

<%= form_tag search_rooms_path, class: 'navbar-form navbar-right' do %>
    <%= text_field_tag 'search_query', nil, class: 'form-control' %>
    <%= submit_tag 'Search', class: 'btn btn-primary btn-sm' %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= image_tag room.roomphoto.url(:thumb) %> </td>
        <td><%= room.name %></td>
        <td><%= room.location %></td>
        <td><%= link_to 'Show', room, class: 'glyphicon glyphicon-search' %></td>
        <td><%= link_to 'Edit', edit_room_path(room), class: 'glyphicon glyphicon-edit' %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-remove' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Room', new_room_path %>
<br>