
<div class="container">
  <h1>Listing rooms</h1>
  <ol class="breadcrumb">
    <li> <%= link_to 'Add Room', new_room_path %></li>
    <li ><%= link_to 'All Rooms', rooms_path  %></li>
    <li>
      <%= form_tag search_rooms_path, class: 'navbar-form'  do %>
          <%= text_field_tag 'search_query', nil, class: 'form-control' %>
          <%= submit_tag 'Search', class: 'btn btn-primary btn-sm' %>
      <% end %>
    </li>
  </ol>
</div>


<div class="container">
  <% @rooms.each do |room| %>

      <div class=class="row previews">
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <a>
            <%= image_tag room.roomphoto.url(:short) %>
          </a>
          <h3>
            <a><%= link_to room.name, room %></a>
          </h3>
          <h5><%= room.location %></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          <p>
            <a> <%= link_to 'Reserve Now!', new_reservation_path,  class: 'btn btn-success'%></a> <a> <%= link_to 'More Info', room, class: 'btn btn-default' %></a>
          </p>
        </div>
      </div>

      </div>
  <% end %>
  </div>

  <div class="container">

  <% if signed_in? && current_user.admin? %>
      <a <%= link_to 'New Room', new_room_path %></a></li>
  <% end %>

  </div>

