<h1>Listing campuses</h1>

<table class="table" id="room_table">
  <thead>
    <tr id="rooms">
      <th>Image</th>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Phone number</th>
      <th>Zip code</th>
      <th>Street address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campuses.each do |campus| %>
  <tr class="campus">
        <td>
          <span class="glyphicon glyphicon-camera" title="Show Photo"></span>
          <img src="http://cdn.eluniversal.com/2013/07/26/tampa.100.100.jpg" class="photos">

        </td>
        <td><%= campus.name %></td>
        <td><%= campus.city %></td>
        <td><%= campus.state %></td>
        <td><%= campus.phone_number %></td>
        <td><%= campus.zip_code %></td>
        <td><%= campus.street_address %></td>
        <td><%= link_to 'Show', campus %></td>
        <td><%= link_to 'Edit', edit_campus_path(campus) %></td>
        <td><%= link_to 'Destroy', campus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campus', new_campus_path %>
